 @import "tailwindcss"; 

 @font-face {
    font-family: IBM;
    src: url(/public/fonts/IBMPLEXSANSARABIC-MEDIUM.TTF);
 }
  @font-face {
    font-family: Expo;
    src: url(/public/fonts/ExpoArabic-Book.ttf);
 }
*{
    font-family: 'Expo';
   
   
}

